@using BisleriumCafe.Model

<div>
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" Style="text-transform: uppercase;">@Username</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        @if (UserRole == Role.Admin)
        {
            <MudNavLink Href="/users" Match="NavLinkMatch.All">Users</MudNavLink>
            <MudNavLink Href="/coffee" Match="NavLinkMatch.All">Coffee</MudNavLink>
            <MudNavLink Href="/addins" Match="NavLinkMatch.All">Add Ins</MudNavLink>
        }
        <MudNavLink Href="/order" Match="NavLinkMatch.All">Orders</MudNavLink>
        <MudNavLink Href="/orderlist" Match="NavLinkMatch.All">Order List</MudNavLink>
        <MudNavLink Href="/generatereport" Match="NavLinkMatch.All">Generate Report</MudNavLink>
    </MudNavMenu>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
